@* Definindo a classe de modelo da página*@
@model UsuariosWeb.Presentation.Models.UsuariosMinhaContaModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h2>Minha Conta de Usuário</h2>
        <p>Visualização dos dados do usuário autenticado.</p>
        <hr/>

        <div class="mb-3">
            Nome do Usuário: <strong class="text-primary">@Model.Nome</strong>
        </div>

        <div class="mb-3">
            Email de Acesso: <strong class="text-primary">@Model.Email</strong>
        </div>

        <div class="mb-3">
            Perfil de Acesso: <strong class="text-primary">@Model.Perfil</strong>
        </div>

        <div class="mb-3">
            Cadastrado no sistema em: <strong class="text-primary">@Model.DataCadastro.ToString("dd/MM/yyyy HH:mm")</strong>
        </div>

    </div>
</div>

