@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>

    <!-- Folha de estilo CSS do bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />

    <!-- Folha de estilo CSS do JQuery DataTables -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">UsuáriosWeb!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Home/Index">Página inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Usuario/MinhaConta">Minha Conta</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gerenciar Usuários
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/Usuario/Cadastro">Cadastrar Usuários</a></li>
                            <li><a class="dropdown-item" href="/Usuario/Consulta">Consultar Usuários</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">

                    <span class="text-white">
                        <strong>Usuário:</strong> @User.Identity.Name
                    </span>

                    &nbsp;&nbsp;&nbsp;

                    <a href="/Account/Logout" class="btn btn-outline-secondary btn-sm"
                       onclick="return confirm('Deseja realmente sair do sistema?');">
                        Sair do Sistema
                    </a>

                </form>
            </div>
        </div>
    </nav>
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@TempData["MensagemSucesso"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>@TempData["MensagemErro"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <div class="container mt-4">
        @* Local para entrada do conteudo das demais páginas do projeto. *@
        @RenderBody()
    </div>

    <!-- Arquivos de extensão JavaScript (JS) -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready( function () {
            $('#tabela').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
                }
            });
        });
    </script>

</body>
</html>


