@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h2>Seja bem vindo ao sistema de gerenciamento de usuários</h2>
        <p>Utilize o menu para acessar os recursos da aplicação.</p>
    </div>
</div>



